@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@1,300&family=Roboto+Condensed:wght@0,300;0,400;0,700;1,300;1,400&display=swap");
body {
  background-color: whitesmoke;
  font-family: 'Roboto Condensed', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.default-button {
  font-family: 'Chakra Petch',sans-serif;
  border-radius: 5%;
  background-color: blanchedalmond;
  padding: 5px;
  margin-top: 5em;
}

.Nav {
  background-color: #4b5097;
  width: 100vw;
  height: 2em;
  text-align: center;
  left: 0;
  position: fixed;
  top: 0;
  z-index: 20;
  padding-top: 15px;
  padding-bottom: 15px;
  z-index: 1;
}

.Nav a {
  text-decoration: none;
  color: white;
  font-size: 1.7em;
}

.Navbar-link {
  margin-right: 2em;
}

.cart-icons {
  float: right;
}

.Title {
  max-width: 20%;
  font-family: 'Chakra Petch', sans-serif;
  background-color: rgba(238, 238, 238, 0.2);
  font-size: 1em;
  color: rgba(12, 0, 0, 0.8);
  margin-left: 0.2em;
}

p {
  font-size: 1.5em;
}

.top-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 5em;
  background-color: #9db8e9;
  margin-top: 5%;
}

.sub-banner {
  text-align: center;
}

/* Home page components */
.top-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  max-width: 70vw;
  margin-top: 20%;
}

div {
  margin-right: 1em;
}

.left {
  width: 50%;
  height: 50vh;
}

.right {
  width: 50%;
  height: 50vh;
}

.right img {
  max-height: 90%;
  max-width: 90%;
  border-radius: 5%;
}

.featured-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  max-width: 70vw;
}

/* Main - wrappers */
.main-top {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main-center {
  background-color: #d4c7c7;
  margin-top: 2%;
  min-width: 100vw;
  height: 80vh;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main-bottom {
  background-color: #f3e6e6;
  min-width: 100vw;
  height: 100vh;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer {
  background-color: black;
  float: bottom;
  width: 100vw;
  position: absolute;
  color: whitesmoke;
  height: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 2em;
}

.paragraph {
  color: #555557;
  text-align: left;
  max-width: 90%;
}

/* About page */
.about {
  margin-top: 10%;
  width: 70vw;
}

/* Products page */
.products-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.products-title div {
  margin-left: 2em;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 75vw;
  height: 70vh;
  font-family: 'Chakra Petch', sans-serif;
}

.products-container {
  width: 80%;
  max-height: 90%;
  overflow: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33% 33% 33%;
      grid-template-columns: 33% 33% 33%;
  padding: 10px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.product {
  max-width: 90%;
  max-height: 100%;
  padding: 1em;
  margin: 1em;
  border-radius: 5%;
  color: #270369;
  font-style: normal;
}

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 10em;
  overflow: hidden;
}

.categories-sidebar {
  width: 20%;
  height: 80%;
}

.categories-sidebar h2 {
  text-align: center;
  text-decoration: underline;
}

.categories-sidebar li {
  color: #270c58;
  list-style-type: none;
}

.img {
  height: 300px;
  width: 300px;
  border: 1px solid rgba(238, 19, 19, 0.51);
  border-radius: 75%;
}

/* Button */
.button {
  max-width: 3em;
}
/*# sourceMappingURL=App.css.map */