@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@1,300&family=Roboto+Condensed:wght@0,300;0,400;0,700;1,300;1,400&display=swap');


@mixin flexCenter($direction) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: $direction
}


body {
    background-color: whitesmoke;
    font-family: 'Roboto Condensed',
        sans-serif;
@include flexCenter(column);

}

// buttons
.default-button {
    font-family: 'Chakra Petch',sans-serif;
    border-radius: 5%;
    color: rgb(6, 6, 6);
    padding: 1.1em;
    margin-top: 5em;
    cursor: pointer;
}

.Nav {
    background-color: rgb(8, 10, 40);
    width: 100vw;
    height: 2em;
    text-align: center;
    left: 0;
    position: fixed;
    top: 0;
    padding-top: 1em;
    padding-bottom: 1em;
    z-index: 1
        // background-color: rgb(75, 80, 151);
}



.Nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.7em;
}

.nav-title {
    float: left;
    top: 0;
    margin-left: 2em;
    color: rgb(255, 255, 255);
    font-size: 1.7em;
    cursor:default
   

}

.Navbar-link {
    margin-right: 2em;
}

.cart-icons {
    float: right
}

.Title {
    max-width: 20%;
    font-family: 'Chakra Petch', sans-serif;
    background-color: rgba(238, 238, 238, 0.2);
    font-size: 1em;
    color: rgba(12, 0, 0, 0.8);
    margin-left: 0.2em;

}


// Default stuff
p {
 font-size: 1.5em;
}

// page banner

.top-banner {
@include flexCenter(row);    
    height: 5em;
    background-color: rgb(157, 184, 233);
 
}

.sub-banner {
        text-align: center;

}

/* Home page components */
.top-header {
        @include flexCenter(row);
        background-image:url('https://images.unsplash.com/photo-1650909114368-f49e88e71dce?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
          background-size: cover;
        text-align: center;
      width: 100vw;
       height: 100vh;
           animation: fadeinfast .6s;

        div {
       width: 90%
    }
}
 



.left {
    @include flexCenter(column);
    width: 50%;
    height: 40vh;
    padding: 1em;
    margin-left: 1em;
          

    h1 {
    color:rgb(253, 247, 247);

    }
}


.home-header {
    // padding-left: 4em;
    // padding-right: 4em;
    max-width: 40%;
    font-size: 1.4em;
color:rgb(243, 230, 230);
}

.right {
    width: 50%;
    height: 70vh;
    
}


.featured-products {
      @include flexCenter(row);
      text-align: center;
      max-width: 80vw;
      height: 100%;
}

// Contact
.contact {
 margin-top: 5em;
}

.contact-form {
display: table; 
border-collapse:separate; 
border-spacing:1em;
font-size: 1.2em;
margin-top: 3em;

section {
    display: table-row;
}
label {
    display: table-cell; 
        }
input {
    display: table-cell;
        margin-left: 1em;
         }
   button {
    display: table-cell;
   margin-top: 1em;
   margin-left: 11em;
   width: 10em;
}
}

.form-input {
    width: 30em;
}

#name {
    height: 2em;
}

#email {
    height: 2em;
}

#message {
     padding: 0 0 20em 0;

}

/* Main - wrappers */
.main-top {

    z-index: 1;
  @include flexCenter(row);
  height: 100vh;
  width: 100vw;
}

.main-center {
    background-color: rgb(252, 247, 247);
    min-width: 100vw;
    height: 100vh;
    z-index: 1;
    @include flexCenter(row);
    img {
        max-height: 90%;
    }
}

.main-bottom {
background-color:rgba(45, 81, 100, 0.8);
color:rgb(243, 230, 230);
    min-width: 100vw;
    height: 100vh;
    z-index: 1;
    @include flexCenter(row);
    h1  {
        color: whitesmoke
    }
}

.footer {
    background-color: black;
    float: bottom;
    width: 100vw;
    position: absolute;
    color: whitesmoke;
    height: 2em;
    @include flexCenter(row);
    font-size: 1.2em;
}



.paragraph {
    color: rgb(85, 85, 87);
    text-align: left;
    max-width: 90%;

}



/* About page */

.about {
    @include flexCenter(row);
    width: 100vw;
    height: 95vh;
}

.about-left {
    @include flexCenter(column);
    width: 50%;
    height: 40vh;
    padding: 1em;
    margin-left: 1em;
background-color:rgba(45, 81, 100, 0.5);
border-radius: 1%;
    animation: fadeinfast .6s;
      
    z-index: -1;
       img {
        max-height: 30em;
     animation: fadeinfast .4s;
    }
}

@keyframes fadeinfast {
    from { opacity: 0.2; }
    to   { opacity: .7; }
}

.about-right {
    width: 50%;
    height: 70vh;
    font-size: 1.6em;
    margin-top: 10em;
      h1 {
    color:rgb(0, 0, 0);
    }
}

.mission {
    padding-left: 3em;
    padding-right: 3em;
    margin-bottom:1em;
}

/* Products page */
.modal {
    min-width: 70vw;
    min-height: 70h;
    background: rgb(216, 198, 198);
    z-index: 10;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    margin: 5em;
}

.products-title {
 @include flexCenter(row);
  margin-top: 5em;
  position: relative;
    h5 {
        margin-left: 2em;
        font-size: 1.5em;
    }
}

.search-form {
margin-right: 1em;
height: 2.5em;

}

.products {
    @include flexCenter(row);
    width: 75vw;
    height: 100%;
    margin-bottom: 1em;
         font-family: 'Chakra Petch',
         sans-serif;
}

.products-container {
        width: 90%;
        max-height: 90%;
          display: grid;
           grid-template-columns: 25% 25% 25% 25%;
           margin-top: 7em;
}

.product {
@include flexCenter(column);
text-align: center;
max-width: 100%;
min-height: 350px;
padding: .2em;
margin: .1em;
border-radius: 1%;
color:rgb(243, 230, 230);
font-style: normal;
background-color:rgba(45, 81, 100, 0.8);
animation: fadein 1s;
      img {
                max-width: 90%;
                max-height: 90%;
                margin-bottom: .5em;
                animation: fadein 2s;
      }
      h4 {
         margin-bottom: -.5em;
      }
}

@keyframes fadein {
    from { opacity: 0.2; }
    to   { opacity: 1; }
}

.product img:hover {
    opacity: 50%
}

.description {

display: flex;
flex-direction: column;
max-height: 10em;
overflow:hidden
}

.categories-sidebar {
    @include flexCenter(column);

    width: 10%;
    height: 80%;
    position: fixed;
    left: 0;
    top: 0;

  
    h2 {
    text-align: center;
    text-decoration: underline;
    }
    li {
color: rgb(39, 12, 88);
list-style-type:none;
        
    }
}


.img {
    height: 300px;
    width: 300px;
    border: 1px solid rgba(238, 19, 19, 0.51);
    border-radius: 75%;
}


// Product details page
.product-details-main {
    display: flex;
flex-direction: row;
align-items: center;
  width: 100vw;
  margin-bottom: 2em;
}


.product-details-left-sidebar {
    @include flexCenter(column);
    margin-left: 1em;
   margin-top:5em;
    position: fixed;
   width: 13%;
    height: 80%;
    border: none;
    font-size: 1.5em;
   
}

 .back {
         text-decoration: underline; 
         color: black
    }

.product-details {
display: flex;
flex-direction: column;
height: 67em;
width: 50em;
 margin-left: 20%;
margin-top: 10em;
margin-right: 1em;
 h2 {
        margin-bottom: 1em;
    }
}

.product-details-image {
    @include flexCenter(column);
 height: 95%;
 width: 95%;
padding: .5em;
border-radius: 1%;
background-color:rgba(45, 81, 100, 0.4);
   
      img {
            min-height: 94%;
            max-width: 94%;
                margin-bottom: .5em;     
      }
}

.product-details-right-sidebar {
  display: flex;
flex-direction: column;
    width: 15%;
    height: 80%;
    margin-left: 7em;
    border: none;
       padding-left: 3em;
        padding-right: 3em;
    p {
     font-size: 1.5em;
    };
    button {
    font-family: 'Chakra Petch',sans-serif;
    border-radius: 5%;
    font-size: 1.3em;
    color: rgb(6, 6, 6);
    padding: 1.1em;
    margin-top: 5em;
    width: 100%;
    cursor: pointer;
    }
}

// .main-center {
//     background-color: rgb(252, 247, 247);
//     min-width: 100vw;
//     height: 100vh;
//     z-index: 1;
//     @include flexCenter(row);
//     img {
//         max-height: 90%;
//     }
// }

// Cart Page
// Cart Contents component
.cart {
    @include flexCenter(column);
    margin-top: 10em;
}


/* Button */
.button {
    max-width: 3em;
}
