@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@1,300&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');

body {
    display: flex;
    background-color: whitesmoke;
    align-items: center;
    justify-content: center;
   font-family: 'Roboto Condensed',
    sans-serif;

    }

.Nav {
    background-color: rgba(85, 65, 104, 0.4);
    width: 100vw;
    height: 2em;
    text-align: center;
    left: 0;
    position: fixed;
    top: 0;
    z-index: 20;
        margin-top: 2px;
        padding-top: 15px;
        padding-bottom: 15px;
        z-index: 1

}

.Nav a {
  

    text-decoration: none;
    color: rgb(218, 218, 218);
    font-size: 2em;

}

        
.Navbar-link {
    
    margin-right: 2em;
}

.Title {
        max-width: 20%;
    font-family: 'Chakra Petch', sans-serif;
        background-color: rgba(238, 238, 238, 0.2);
        font-size: 1em;
        color: rgba(12, 0, 0, 0.8);
        margin-left: 0.2em;

        }

            


/* Header of each page */

.header {
            text-align: center;     
}

/* Main component */

.Main {
        position:relative;
  margin-top:80px;
        display:flex;
    flex-direction: column;
    align-items: left;
    min-height: 75vh;
max-height: 75vh;
min-width: 70vw;
max-width: 70vw;
overflow: auto;
border: 1px dotted;
padding: 1em;
    color: rgb(70, 70, 70);
    background-size: cover;
      z-index: 10;
      border-radius: 5px;
    background-color: rgba(52, 25, 80, 0.4);
z-index: 1;

}


.Main img {
text-align: center;
}

.post {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-bottom: 4em;
    font-size: 23px;

}
.Post-date {
    color:rgb(194, 77, 77)
}


.News {
    width: 20em;
    border:1px solid;
}

.paragraph {
    color: rgb(85, 85, 87);
    text-align: left;
        max-width: 90%;

}



/* About */

.about {
margin-left: 2em;
margin-right: 2em;
font-size: 15px;

    
}


.img {
 
   height: 300px;
   width: 300px;
    border: 1px solid rgba(238, 19, 19, 0.51);
    border-radius: 75%;
}

/* Button */
.button {
    max-width: 3em;
}
