@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@1,300&family=Roboto+Condensed:wght@0,300;0,400;0,700;1,300;1,400&display=swap");
html {
  min-height: 100%;
}

body {
  background-color: #2d5164;
  font-family: "Roboto Condensed", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: auto;
}

.default-button {
  border-radius: 5%;
  color: #060606;
  padding: 1.1em;
  cursor: pointer;
  font-weight: bold;
}

.Nav {
  background-color: #080a28;
  width: 100vw;
  height: 2em;
  text-align: center;
  left: 0;
  position: fixed;
  top: 0;
  padding-top: 1em;
  padding-bottom: 1em;
  z-index: 1;
}

.Nav a {
  text-decoration: none;
  color: white;
  font-size: 1.7em;
}

.nav-title {
  float: left;
  top: 0;
  margin-left: 2em;
  color: white;
  font-size: 1.7em;
  cursor: default;
}

.Navbar-link {
  margin-right: 2em;
}

.Navbar-link:hover {
  opacity: 70%;
}

.cart-icons {
  float: right;
}

.Title {
  max-width: 20%;
  font-family: "Chakra Petch", sans-serif;
  background-color: rgba(238, 238, 238, 0.2);
  font-size: 1em;
  color: rgba(12, 0, 0, 0.8);
  margin-left: 0.2em;
}

p {
  font-size: 1.5em;
}

.top-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 5em;
  background-color: #9db8e9;
}

.sub-banner {
  text-align: center;
}

/* Home page components */
.top-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-image: url("https://images.unsplash.com/photo-1650909114368-f49e88e71dce?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-size: cover;
  text-align: center;
  width: 100vw;
  height: 100vh;
  -webkit-animation: fadeinfast 0.6s;
          animation: fadeinfast 0.6s;
}

.top-header div {
  width: 90%;
}

#ourstore {
  color: white;
}

.hidden-mountain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
  letter-spacing: 0.2em;
}

.hidden-mountain img {
  width: 50%;
  opacity: 70%;
  border-radius: 50%;
}

.left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  height: 40vh;
  margin-left: 1em;
}

.home-header {
  max-width: 40%;
  font-size: 1.4em;
  color: #f3e6e6;
}

.featured-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 60%;
  margin: 0.1em;
  margin-left: 2em;
  width: 60%;
  background-color: #0d0d0d;
  font-style: normal;
  -webkit-animation: fadein 1s;
          animation: fadein 1s;
}

.featured-product img {
  max-width: 95%;
  max-height: 60%;
  -webkit-animation: fadein 2s;
          animation: fadein 2s;
  border-radius: 8%;
  margin-bottom: -.2em;
  padding: .2em;
}

.featured-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  max-width: 80vw;
  height: 90%;
  background-color: #fcf7f7;
  border: 1px dotted;
}

.contact {
  margin-top: 5em;
  width: 80%;
  height: 90%;
  border: 1px dotted;
}

.form-input {
  width: 30em;
}

.contact-form {
  display: table;
  border-collapse: separate;
  border-spacing: 1em;
  font-size: 1.4em;
}

.contact-form section {
  display: table-row;
}

.contact-form label {
  display: table-cell;
}

.contact-form input {
  display: table-cell;
  margin-left: 1em;
}

.contact-form textarea {
  display: table-cell;
  margin-left: 1em;
  height: 3em;
  width: 34em;
}

.contact-form button {
  display: table-cell;
  margin-top: 1em;
  margin-left: 25em;
  width: 10em;
}

#name {
  height: 2em;
}

#email {
  height: 2em;
}

#message {
  padding: 0 0 20em 0;
}

/* Main - wrappers */
.main-top {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100vh;
  width: 100vw;
}

.main-center {
  background-color: #fcf7f7;
  min-width: 100vw;
  height: 100vh;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main-center img {
  max-height: 90%;
}

.main-bottom {
  background-color: rgba(45, 81, 100, 0.8);
  color: #f3e6e6;
  min-width: 100vw;
  height: 100vh;
  overflow: visible;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main-bottom h1 {
  color: whitesmoke;
}

.footer {
  background-color: black;
  float: bottom;
  width: 100vw;
  position: absolute;
  color: whitesmoke;
  height: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 1.2em;
}

.paragraph {
  color: #555557;
  text-align: left;
  max-width: 90%;
}

/* About page */
.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100vw;
  height: 85vh;
  margin-top: 7em;
}

.about-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 50%;
  width: 50%;
  padding: 1em;
  margin-left: 1em;
  border-radius: 1%;
  -webkit-animation: fadeinfast 1s;
          animation: fadeinfast 1s;
  background-color: rgba(45, 81, 100, 0.3);
  z-index: -1;
}

.about-left img {
  max-height: 35em;
  -webkit-animation: fadeinfast 1s;
          animation: fadeinfast 1s;
}

@-webkit-keyframes fadeinfast {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeinfast {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

.about-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  font-size: 1.6em;
  margin-top: 5em;
  margin-bottom: 1em;
  margin-left: 1em;
  padding: 0.2em;
}

.mission {
  padding-left: 3em;
  padding-right: 3em;
  margin-bottom: 1em;
}

/* Products page */
.modal {
  min-width: 70vw;
  min-height: 70h;
  background: #d8c6c6;
  z-index: 10;
  border: 1px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  margin: 5em;
}

.products-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 5em;
  position: relative;
}

.products-title h5 {
  margin-left: 2em;
  font-size: 1.5em;
}

.search-form {
  margin-right: 1em;
  height: 2.5em;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 75vw;
  height: 100%;
  margin-bottom: 1em;
  font-family: "Chakra Petch", sans-serif;
}

.products-container {
  width: 90%;
  max-height: 90%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25% 25%;
      grid-template-columns: 25% 25% 25% 25%;
  margin-top: 7em;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  max-width: 100%;
  min-height: 350px;
  padding: 0.2em;
  margin: 0.1em;
  background-color: rgba(45, 81, 100, 0.8);
  border-radius: 1%;
  color: #f3e6e6;
  font-style: normal;
  -webkit-animation: fadein 1s;
          animation: fadein 1s;
}

.product img {
  max-width: 90%;
  max-height: 90%;
  margin-bottom: 0.5em;
  -webkit-animation: fadein 2s;
          animation: fadein 2s;
}

.product h4 {
  margin-bottom: -0.5em;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

.product img:hover {
  opacity: 50%;
}

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 10em;
  overflow: hidden;
}

.categories-sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 10%;
  height: 80%;
  position: fixed;
  left: 0;
  top: 0;
}

.categories-sidebar h2 {
  text-align: center;
  text-decoration: underline;
}

.categories-sidebar li {
  color: #270c58;
  list-style-type: none;
  font-size: 1.3em;
  margin-bottom: 1em;
  cursor: pointer;
}

.categories-sidebar li:hover {
  text-decoration: underline;
}

.img {
  height: 300px;
  width: 300px;
  border: 1px solid rgba(238, 19, 19, 0.51);
  border-radius: 75%;
}

.details-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product-details-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  margin-bottom: 2em;
}

.product-details-left-sidebar {
  left: 0;
  top: 50;
  margin-left: 1em;
  margin-top: 12em;
  position: fixed;
  width: 17%;
  height: 80%;
  border: none;
  font-size: 1.5em;
}

.back {
  text-decoration: underline;
  color: black;
}

.product-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 67em;
  width: 50em;
  margin-left: 20%;
  margin-top: 10em;
  margin-right: 1em;
}

.product-details h2 {
  margin-bottom: 1em;
}

.product-details-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 95%;
  width: 95%;
  padding: 0.5em;
  border-radius: 1%;
  background-color: rgba(45, 81, 100, 0.4);
}

.product-details-image img {
  min-height: 94%;
  max-width: 94%;
  margin-bottom: 0.5em;
}

.product-details-right-sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 15%;
  height: 80%;
  margin-left: 7em;
  border: none;
  padding-left: 3em;
  padding-right: 3em;
}

.product-details-right-sidebar p {
  font-size: 1.5em;
}

.product-details-right-sidebar button {
  font-family: "Chakra Petch", sans-serif;
  border-radius: 5%;
  font-size: 1.3em;
  color: #060606;
  padding: 1.1em;
  margin-top: 5em;
  width: 100%;
  cursor: pointer;
}

.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 6em;
  width: 80vw;
}

.your-cart {
  width: 50%;
  text-align: center;
  border-bottom: 1px solid;
  margin-bottom: 1em;
}

.cart-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 50%;
  background-color: rgba(45, 81, 100, 0.4);
  margin: 1em;
  padding: 1em;
}

.cart-item-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

.cart-item-left h4 {
  margin-bottom: 0.6em;
}

.cart-item-left button {
  font-family: "Chakra Petch", sans-serif;
  border-radius: 5%;
  color: #060606;
  padding: 1.1em;
  cursor: pointer;
}

.cart-item-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  -webkit-animation: fadein 1s;
          animation: fadein 1s;
}

.cart-item-right img {
  max-width: 40%;
  max-height: 40%;
  -webkit-animation: fadein 2s;
          animation: fadein 2s;
}

@media screen and (max-height: 700px) {
  .main-top {
    background-color: rgba(45, 81, 100, 0.8);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 3em;
    margin-bottom: 3em;
    height: 125vh;
  }
  #ourstore {
    font-size: 1.5em;
  }
  .featured-products {
    font-size: 1em;
  }
  .featured-products h1 {
    font-size: 1.5em;
    margin-bottom: -1em;
  }
  .left {
    padding-top: 1em;
    margin-top: 5em;
  }
  .left button {
    margin-bottom: 1em;
  }
  .main-center {
    margin-top: 4em;
    height: 130%;
  }
  .footer {
    display: none;
  }
  .main-bottom {
    background-color: #2d5164;
  }
}

.contact {
  border: none;
}

.contact-form {
  border: 1px dotted;
}

@media screen and (max-width: 1060px) {
  .nav-title {
    display: none;
  }
  .Nav {
    height: 2em;
    max-width: 100vw;
  }
  #cart {
    border: 1px dotted;
    text-align: center;
  }
  .Nav a {
    margin-right: 2em;
    font-size: 1.2em;
    width: 100%;
  }
  .home-header {
    max-width: 70%;
  }
  .main-top {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
  }
  .top-header {
    background-image: url("");
    background-color: rgba(45, 81, 100, 0.8);
    height: 125vh;
  }
  .hidden-mountain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .left {
    width: 90vw;
    height: 90vh;
    margin-left: 0em;
    padding: 1em;
    padding-top: 4em;
  }
  .left h1 {
    margin-top: 1em;
  }
  .left button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 1em;
    font-size: 1em;
    margin-top: 1em;
    padding: 1.3em;
  }
  .left p {
    padding: 2em;
  }
  .left {
    border: none;
  }
  .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .featured-products {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .featured-product {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 0em;
    background-color: transparent;
    width: 90vw;
  }
  .featured-product img {
    width: 30%;
    background-color: black;
    padding: .2em;
    margin-bottom: 6em;
    margin-top: 2m;
  }
  #empty-right {
    display: none;
    width: 0%;
  }
  .contact {
    width: 90vw;
    height: 110%;
    background-color: #2d5164;
    border: 1px dotted;
  }
  .contact-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 1em;
    border: none;
  }
  .contact-form form {
    padding-top: 1em;
  }
  .contact-form h1 {
    margin-bottom: 0em;
  }
  .contact-form h2 {
    padding: 1em;
    margin-bottom: -3em;
    font-size: 90%;
  }
  .contact-form section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-form label {
    padding: 0em;
    margin-left: 1em;
  }
  .contact-form input {
    width: 80vw;
    margin: 1em;
  }
  .contact-form textarea {
    margin: 1em;
    width: 80vw;
    height: 0em;
  }
  .contact-form button {
    margin-left: 5em;
  }
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-right {
    background-color: rgba(45, 81, 100, 0.8);
    height: auto;
    width: 90vw;
    margin-top: 3em;
    padding-top: 2em;
    padding-bottom: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: 1px solid;
    margin-bottom: 1em;
    margin-left: 0em;
  }
  .about-left {
    display: none;
    width: 100vw;
    margin-bottom: -2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 40%;
    margin-top: 17em;
    margin-left: 0em;
    padding: 0.2em;
  }
  .about-left img {
    height: 90%;
  }
  .mission {
    width: 80%;
    padding-left: 0.5em;
    padding-right: 0.5em;
    height: auto;
  }
  .footer {
    display: none;
  }
  .products-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .products-container {
    width: 90%;
  }
  .products-title {
    margin: -1em;
    margin-bottom: -1em;
    width: 50%;
  }
  .categories-sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 10%;
    width: 85%;
    position: relative;
    margin-top: 5em;
  }
  .categories-sidebar h2 {
    font-size: 0;
  }
  .categories-sidebar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 85%;
    margin-left: -1em;
  }
  .categories-sidebar ul li {
    margin-right: 1.2em;
    font-size: 0.9em;
  }
  .products-title {
    width: 50%;
    margin-bottom: -6em;
  }
  .search-form {
    width: 100%;
    margin-right: 0em;
    margin-bottom: 1em;
  }
  .search-form input {
    width: 10em;
  }
  .products {
    width: 100%;
  }
  .product {
    font-size: 70%;
    min-height: 200px;
  }
  .details-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .product-details-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 50vw;
    margin-top: -5em;
  }
  .product-details {
    margin-left: 0%;
    height: 30em;
    width: 80vw;
  }
  .product-details h2 {
    text-align: center;
    border: 1px solid;
  }
  .product-details-left-sidebar {
    position: relative;
    margin-left: 0em;
    margin-top: 4em;
    margin-bottom: -4em;
    width: 100%;
    height: 40%;
  }
  .product-details-right-sidebar {
    width: 95%;
    margin-left: 0em;
    margin-top: 5em;
  }
  .product-details-right-sidebar button {
    margin-top: -0.2em;
  }
  .cart-item {
    width: 80vw;
  }
  .cart-item button {
    padding: 0.5em;
  }
  .cart-item-left h4 {
    margin-bottom: 1em;
  }
  .cart-item-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50%;
    -webkit-animation: fadein 1s;
            animation: fadein 1s;
  }
  .cart-item-right img {
    max-width: 80%;
    max-height: 80%;
    -webkit-animation: fadein 2s;
            animation: fadein 2s;
  }
}
/*# sourceMappingURL=App.css.map */