@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@1,300&family=Roboto+Condensed:wght@0,300;0,400;0,700;1,300;1,400&display=swap");
body {
  background-color: whitesmoke;
  font-family: 'Roboto Condensed', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.default-button {
  font-family: 'Chakra Petch',sans-serif;
  border-radius: 5%;
  color: #060606;
  padding: 1.1em;
  margin-top: 5em;
  cursor: pointer;
}

.Nav {
  background-color: #080a28;
  width: 100vw;
  height: 2em;
  text-align: center;
  left: 0;
  position: fixed;
  top: 0;
  padding-top: 1em;
  padding-bottom: 1em;
  z-index: 1;
}

.Nav a {
  text-decoration: none;
  color: white;
  font-size: 1.7em;
}

.nav-title {
  float: left;
  top: 0;
  margin-left: 2em;
  color: white;
  font-size: 1.7em;
  cursor: default;
}

.Navbar-link {
  margin-right: 2em;
}

.cart-icons {
  float: right;
}

.Title {
  max-width: 20%;
  font-family: 'Chakra Petch', sans-serif;
  background-color: rgba(238, 238, 238, 0.2);
  font-size: 1em;
  color: rgba(12, 0, 0, 0.8);
  margin-left: 0.2em;
}

p {
  font-size: 1.5em;
}

.top-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 5em;
  background-color: #9db8e9;
}

.sub-banner {
  text-align: center;
}

/* Home page components */
.top-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-image: url("https://images.unsplash.com/photo-1650909114368-f49e88e71dce?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-size: cover;
  text-align: center;
  width: 100vw;
  height: 100vh;
  -webkit-animation: fadeinfast .6s;
          animation: fadeinfast .6s;
}

.top-header div {
  width: 90%;
}

.left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  height: 40vh;
  padding: 1em;
  margin-left: 1em;
}

.left h1 {
  color: #fdf7f7;
}

.home-header {
  max-width: 40%;
  font-size: 1.4em;
  color: #f3e6e6;
}

.right {
  width: 50%;
  height: 70vh;
}

.right img {
  border-radius: 50%;
  height: 90%;
}

.right img:hover {
  opacity: 50%;
}

.featured-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  max-width: 80vw;
  height: 100%;
}

.contact {
  margin-top: 5em;
}

.form-input {
  width: 30em;
}

.contact-form {
  display: table;
  border-collapse: separate;
  border-spacing: 1em;
  font-size: 1.2em;
  margin-top: 3em;
}

.contact-form section {
  display: table-row;
}

.contact-form label {
  display: table-cell;
}

.contact-form input {
  display: table-cell;
  margin-left: 1em;
}

.contact-form textarea {
  display: table-cell;
  margin-left: 1em;
  height: 3em;
  width: 34em;
}

.contact-form button {
  display: table-cell;
  margin-top: 1em;
  margin-left: 25em;
  width: 10em;
}

#name {
  height: 2em;
}

#email {
  height: 2em;
}

#message {
  padding: 0 0 20em 0;
}

/* Main - wrappers */
.main-top {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100vh;
  width: 100vw;
}

.main-center {
  background-color: #fcf7f7;
  min-width: 100vw;
  height: 100vh;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main-center img {
  max-height: 90%;
}

.main-bottom {
  background-color: rgba(45, 81, 100, 0.8);
  color: #f3e6e6;
  min-width: 100vw;
  height: 100vh;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main-bottom h1 {
  color: whitesmoke;
}

.footer {
  background-color: black;
  float: bottom;
  width: 100vw;
  position: absolute;
  color: whitesmoke;
  height: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 1.2em;
}

.paragraph {
  color: #555557;
  text-align: left;
  max-width: 90%;
}

/* About page */
.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100vw;
  height: 95vh;
}

.about-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  height: 40vh;
  padding: 1em;
  margin-left: 1em;
  background-color: rgba(45, 81, 100, 0.5);
  border-radius: 1%;
  -webkit-animation: fadeinfast .6s;
          animation: fadeinfast .6s;
  z-index: -1;
}

.about-left img {
  max-height: 30em;
  -webkit-animation: fadeinfast .4s;
          animation: fadeinfast .4s;
}

@-webkit-keyframes fadeinfast {
  from {
    opacity: 0.2;
  }
  to {
    opacity: .7;
  }
}

@keyframes fadeinfast {
  from {
    opacity: 0.2;
  }
  to {
    opacity: .7;
  }
}

.about-right {
  width: 50%;
  height: 70vh;
  font-size: 1.6em;
  margin-top: 10em;
}

.about-right h1 {
  color: black;
}

.mission {
  padding-left: 3em;
  padding-right: 3em;
  margin-bottom: 1em;
}

/* Products page */
.modal {
  min-width: 70vw;
  min-height: 70h;
  background: #d8c6c6;
  z-index: 10;
  border: 1px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  margin: 5em;
}

.products-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 5em;
  position: relative;
}

.products-title h5 {
  margin-left: 2em;
  font-size: 1.5em;
}

.search-form {
  margin-right: 1em;
  height: 2.5em;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 75vw;
  height: 100%;
  margin-bottom: 1em;
  font-family: 'Chakra Petch', sans-serif;
}

.products-container {
  width: 90%;
  max-height: 90%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25% 25%;
      grid-template-columns: 25% 25% 25% 25%;
  margin-top: 7em;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  max-width: 100%;
  min-height: 350px;
  padding: .2em;
  margin: .1em;
  border-radius: 1%;
  color: #f3e6e6;
  font-style: normal;
  background-color: rgba(45, 81, 100, 0.8);
  -webkit-animation: fadein 1s;
          animation: fadein 1s;
}

.product img {
  max-width: 90%;
  max-height: 90%;
  margin-bottom: .5em;
  -webkit-animation: fadein 2s;
          animation: fadein 2s;
}

.product h4 {
  margin-bottom: -.5em;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

.product img:hover {
  opacity: 50%;
}

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 10em;
  overflow: hidden;
}

.categories-sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 10%;
  height: 80%;
  position: fixed;
  left: 0;
  top: 0;
}

.categories-sidebar h2 {
  text-align: center;
  text-decoration: underline;
}

.categories-sidebar li {
  color: #270c58;
  list-style-type: none;
  font-size: 1.3em;
  margin-bottom: 1em;
  cursor: pointer;
}

.categories-sidebar li:hover {
  text-decoration: underline;
}

.img {
  height: 300px;
  width: 300px;
  border: 1px solid rgba(238, 19, 19, 0.51);
  border-radius: 75%;
}

.product-details-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  margin-bottom: 2em;
}

.product-details-left-sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 1em;
  margin-top: 5em;
  position: fixed;
  width: 13%;
  height: 80%;
  border: none;
  font-size: 1.5em;
}

.back {
  text-decoration: underline;
  color: black;
}

.product-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 67em;
  width: 50em;
  margin-left: 20%;
  margin-top: 10em;
  margin-right: 1em;
}

.product-details h2 {
  margin-bottom: 1em;
}

.product-details-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 95%;
  width: 95%;
  padding: .5em;
  border-radius: 1%;
  background-color: rgba(45, 81, 100, 0.4);
}

.product-details-image img {
  min-height: 94%;
  max-width: 94%;
  margin-bottom: .5em;
}

.product-details-right-sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 15%;
  height: 80%;
  margin-left: 7em;
  border: none;
  padding-left: 3em;
  padding-right: 3em;
}

.product-details-right-sidebar p {
  font-size: 1.5em;
}

.product-details-right-sidebar button {
  font-family: 'Chakra Petch',sans-serif;
  border-radius: 5%;
  font-size: 1.3em;
  color: #060606;
  padding: 1.1em;
  margin-top: 5em;
  width: 100%;
  cursor: pointer;
}

.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 6em;
  width: 80vw;
}

.your-cart {
  width: 50%;
  text-align: center;
  border-bottom: 1px solid;
  margin-bottom: 1em;
}

.cart-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 50%;
  background-color: rgba(45, 81, 100, 0.4);
  margin: 1em;
  padding: 1em;
}

.cart-item-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

.cart-item-left h4 {
  margin-bottom: .2em;
}

.cart-item-left button {
  font-family: 'Chakra Petch',sans-serif;
  border-radius: 5%;
  color: #060606;
  padding: 1.1em;
  cursor: pointer;
}

.cart-item-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  -webkit-animation: fadein 1s;
          animation: fadein 1s;
}

.cart-item-right img {
  max-width: 40%;
  max-height: 40%;
  -webkit-animation: fadein 2s;
          animation: fadein 2s;
}
/*# sourceMappingURL=App.css.map */